<script>
    let socket= new WebSocket(
       url="ws://"
           +window.location.host
           +'/ws/driver/'
           +3000
           +"/"
    )
   
    socket.onopen=()=>{
       console.log(`Connection open to ${socket.url}`);
   
       socket.onmessage=(e)=>{
           const data=JSON.parse(e.data);
           console.log('[RECEIVING]',data);
       }
   
       socket.onclose=()=>{
           console.log(`Connection closed to ${socket.url}`)
       }
   
    }
   </script>
   <h1>Driver Home asdasds</h1>